@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
@keyframes hide-loader {
  0% {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fill-heart {
  to {
    opacity: 1;
  }
}
@keyframes hide-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes enlarge {
  from {
    width: 0;
  }
  to {
    width: 59px;
  }
}
@keyframes shrink {
  from {
    width: 59px;
  }
  to {
    width: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn-hover {
  0% {
    background: linear-gradient(180deg, #ff79da, #9356dc);
  }
  1% {
    background: linear-gradient(180deg, #ff79da, #9356dc);
  }
  2% {
    background: linear-gradient(180deg, #ff7ada, #9457dc);
  }
  3% {
    background: linear-gradient(180deg, #ff7ada, #9457dc);
  }
  4% {
    background: linear-gradient(180deg, #ff7ada, #9458dc);
  }
  5% {
    background: linear-gradient(180deg, #ff7ada, #9458dc);
  }
  6% {
    background: linear-gradient(180deg, #ff7bda, #9559dd);
  }
  7% {
    background: linear-gradient(180deg, #ff7bda, #9559dd);
  }
  8% {
    background: linear-gradient(180deg, #ff7bdb, #9559dd);
  }
  9% {
    background: linear-gradient(180deg, #ff7bdb, #955add);
  }
  10% {
    background: linear-gradient(180deg, #ff7cdb, #965add);
  }
  11% {
    background: linear-gradient(180deg, #ff7cdb, #965bdd);
  }
  12% {
    background: linear-gradient(180deg, #ff7cdb, #965bdd);
  }
  13% {
    background: linear-gradient(180deg, #ff7cdb, #975bdd);
  }
  14% {
    background: linear-gradient(180deg, #ff7ddb, #975cdd);
  }
  15% {
    background: linear-gradient(180deg, #ff7ddb, #975cdd);
  }
  16% {
    background: linear-gradient(180deg, #ff7ddb, #975ddd);
  }
  17% {
    background: linear-gradient(180deg, #ff7ddb, #985ddd);
  }
  18% {
    background: linear-gradient(180deg, #ff7edb, #985ede);
  }
  19% {
    background: linear-gradient(180deg, #ff7edb, #985ede);
  }
  20% {
    background: linear-gradient(180deg, #ff7edb, #985ede);
  }
  21% {
    background: linear-gradient(180deg, #ff7edb, #995fde);
  }
  22% {
    background: linear-gradient(180deg, #ff7fdc, #995fde);
  }
  23% {
    background: linear-gradient(180deg, #ff7fdc, #9960de);
  }
  24% {
    background: linear-gradient(180deg, #ff7fdc, #9960de);
  }
  25% {
    background: linear-gradient(180deg, #ff7fdc, #9a61de);
  }
  26% {
    background: linear-gradient(180deg, #ff80dc, #9a61de);
  }
  27% {
    background: linear-gradient(180deg, #ff80dc, #9a61de);
  }
  28% {
    background: linear-gradient(180deg, #ff80dc, #9b62de);
  }
  29% {
    background: linear-gradient(180deg, #ff80dc, #9b62df);
  }
  30% {
    background: linear-gradient(180deg, #ff81dc, #9b63df);
  }
  31% {
    background: linear-gradient(180deg, #ff81dc, #9b63df);
  }
  32% {
    background: linear-gradient(180deg, #ff81dc, #9c64df);
  }
  33% {
    background: linear-gradient(180deg, #ff81dc, #9c64df);
  }
  34% {
    background: linear-gradient(180deg, #ff82dc, #9c64df);
  }
  35% {
    background: linear-gradient(180deg, #ff82dc, #9c65df);
  }
  36% {
    background: linear-gradient(180deg, #ff82dd, #9d65df);
  }
  37% {
    background: linear-gradient(180deg, #ff82dd, #9d66df);
  }
  38% {
    background: linear-gradient(180deg, #ff83dd, #9d66df);
  }
  39% {
    background: linear-gradient(180deg, #ff83dd, #9e66df);
  }
  40% {
    background: linear-gradient(180deg, #ff83dd, #9e67e0);
  }
  41% {
    background: linear-gradient(180deg, #ff83dd, #9e67e0);
  }
  42% {
    background: linear-gradient(180deg, #ff84dd, #9e68e0);
  }
  43% {
    background: linear-gradient(180deg, #ff84dd, #9f68e0);
  }
  44% {
    background: linear-gradient(180deg, #ff84dd, #9f69e0);
  }
  45% {
    background: linear-gradient(180deg, #ff84dd, #9f69e0);
  }
  46% {
    background: linear-gradient(180deg, #ff85dd, #9f69e0);
  }
  47% {
    background: linear-gradient(180deg, #ff85dd, #a06ae0);
  }
  48% {
    background: linear-gradient(180deg, #ff85dd, #a06ae0);
  }
  49% {
    background: linear-gradient(180deg, #ff85dd, #a06be0);
  }
  50% {
    background: linear-gradient(180deg, #ff86de, #a16be0);
  }
  51% {
    background: linear-gradient(180deg, #ff86de, #a16ce0);
  }
  52% {
    background: linear-gradient(180deg, #ff86de, #a16ce1);
  }
  53% {
    background: linear-gradient(180deg, #ff87de, #a16ce1);
  }
  54% {
    background: linear-gradient(180deg, #ff87de, #a26de1);
  }
  55% {
    background: linear-gradient(180deg, #ff87de, #a26de1);
  }
  56% {
    background: linear-gradient(180deg, #ff87de, #a26ee1);
  }
  57% {
    background: linear-gradient(180deg, #ff88de, #a26ee1);
  }
  58% {
    background: linear-gradient(180deg, #ff88de, #a36fe1);
  }
  59% {
    background: linear-gradient(180deg, #ff88de, #a36fe1);
  }
  60% {
    background: linear-gradient(180deg, #ff88de, #a36fe1);
  }
  61% {
    background: linear-gradient(180deg, #ff89de, #a370e1);
  }
  62% {
    background: linear-gradient(180deg, #ff89de, #a470e1);
  }
  63% {
    background: linear-gradient(180deg, #ff89de, #a471e2);
  }
  64% {
    background: linear-gradient(180deg, #ff89df, #a471e2);
  }
  65% {
    background: linear-gradient(180deg, #ff8adf, #a571e2);
  }
  66% {
    background: linear-gradient(180deg, #ff8adf, #a572e2);
  }
  67% {
    background: linear-gradient(180deg, #ff8adf, #a572e2);
  }
  68% {
    background: linear-gradient(180deg, #ff8adf, #a573e2);
  }
  69% {
    background: linear-gradient(180deg, #ff8bdf, #a673e2);
  }
  70% {
    background: linear-gradient(180deg, #ff8bdf, #a674e2);
  }
  71% {
    background: linear-gradient(180deg, #ff8bdf, #a674e2);
  }
  72% {
    background: linear-gradient(180deg, #ff8bdf, #a674e2);
  }
  73% {
    background: linear-gradient(180deg, #ff8cdf, #a775e2);
  }
  74% {
    background: linear-gradient(180deg, #ff8cdf, #a775e2);
  }
  75% {
    background: linear-gradient(180deg, #ff8cdf, #a776e3);
  }
  76% {
    background: linear-gradient(180deg, #ff8cdf, #a876e3);
  }
  77% {
    background: linear-gradient(180deg, #ff8ddf, #a877e3);
  }
  78% {
    background: linear-gradient(180deg, #ff8ddf, #a877e3);
  }
  79% {
    background: linear-gradient(180deg, #ff8de0, #a877e3);
  }
  80% {
    background: linear-gradient(180deg, #ff8de0, #a978e3);
  }
  81% {
    background: linear-gradient(180deg, #ff8ee0, #a978e3);
  }
  82% {
    background: linear-gradient(180deg, #ff8ee0, #a979e3);
  }
  83% {
    background: linear-gradient(180deg, #ff8ee0, #a979e3);
  }
  84% {
    background: linear-gradient(180deg, #ff8ee0, #aa79e3);
  }
  85% {
    background: linear-gradient(180deg, #ff8fe0, #aa7ae3);
  }
  86% {
    background: linear-gradient(180deg, #ff8fe0, #aa7ae4);
  }
  87% {
    background: linear-gradient(180deg, #ff8fe0, #aa7be4);
  }
  88% {
    background: linear-gradient(180deg, #ff8fe0, #ab7be4);
  }
  89% {
    background: linear-gradient(180deg, #ff90e0, #ab7ce4);
  }
  90% {
    background: linear-gradient(180deg, #ff90e0, #ab7ce4);
  }
  91% {
    background: linear-gradient(180deg, #ff90e0, #ac7ce4);
  }
  92% {
    background: linear-gradient(180deg, #ff90e0, #ac7de4);
  }
  93% {
    background: linear-gradient(180deg, #ff91e1, #ac7de4);
  }
  94% {
    background: linear-gradient(180deg, #ff91e1, #ac7ee4);
  }
  95% {
    background: linear-gradient(180deg, #ff91e1, #ad7ee4);
  }
  96% {
    background: linear-gradient(180deg, #ff91e1, #ad7fe4);
  }
  97% {
    background: linear-gradient(180deg, #ff92e1, #ad7fe4);
  }
  98% {
    background: linear-gradient(180deg, #ff92e1, #ad7fe5);
  }
  99% {
    background: linear-gradient(180deg, #ff92e1, #ae80e5);
  }
  100% {
    background: linear-gradient(180deg, #ff93e1, #ae80e5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
}
@keyframes btn-hover-reverse {
  0% {
    background: linear-gradient(180deg, #ff93e1, #ae80e5);
  }
  1% {
    background: linear-gradient(180deg, #ff92e1, #ae80e5);
  }
  2% {
    background: linear-gradient(180deg, #ff92e1, #ad7fe5);
  }
  3% {
    background: linear-gradient(180deg, #ff92e1, #ad7fe4);
  }
  4% {
    background: linear-gradient(180deg, #ff91e1, #ad7fe4);
  }
  5% {
    background: linear-gradient(180deg, #ff91e1, #ad7ee4);
  }
  6% {
    background: linear-gradient(180deg, #ff91e1, #ac7ee4);
  }
  7% {
    background: linear-gradient(180deg, #ff91e1, #ac7de4);
  }
  8% {
    background: linear-gradient(180deg, #ff90e0, #ac7de4);
  }
  9% {
    background: linear-gradient(180deg, #ff90e0, #ac7ce4);
  }
  10% {
    background: linear-gradient(180deg, #ff90e0, #ab7ce4);
  }
  11% {
    background: linear-gradient(180deg, #ff90e0, #ab7ce4);
  }
  12% {
    background: linear-gradient(180deg, #ff8fe0, #ab7be4);
  }
  13% {
    background: linear-gradient(180deg, #ff8fe0, #aa7be4);
  }
  14% {
    background: linear-gradient(180deg, #ff8fe0, #aa7ae4);
  }
  15% {
    background: linear-gradient(180deg, #ff8fe0, #aa7ae3);
  }
  16% {
    background: linear-gradient(180deg, #ff8ee0, #aa79e3);
  }
  17% {
    background: linear-gradient(180deg, #ff8ee0, #a979e3);
  }
  18% {
    background: linear-gradient(180deg, #ff8ee0, #a979e3);
  }
  19% {
    background: linear-gradient(180deg, #ff8ee0, #a978e3);
  }
  20% {
    background: linear-gradient(180deg, #ff8de0, #a978e3);
  }
  21% {
    background: linear-gradient(180deg, #ff8de0, #a877e3);
  }
  22% {
    background: linear-gradient(180deg, #ff8ddf, #a877e3);
  }
  23% {
    background: linear-gradient(180deg, #ff8ddf, #a877e3);
  }
  24% {
    background: linear-gradient(180deg, #ff8cdf, #a876e3);
  }
  25% {
    background: linear-gradient(180deg, #ff8cdf, #a776e3);
  }
  26% {
    background: linear-gradient(180deg, #ff8cdf, #a775e2);
  }
  27% {
    background: linear-gradient(180deg, #ff8cdf, #a775e2);
  }
  28% {
    background: linear-gradient(180deg, #ff8bdf, #a674e2);
  }
  29% {
    background: linear-gradient(180deg, #ff8bdf, #a674e2);
  }
  30% {
    background: linear-gradient(180deg, #ff8bdf, #a674e2);
  }
  31% {
    background: linear-gradient(180deg, #ff8bdf, #a673e2);
  }
  32% {
    background: linear-gradient(180deg, #ff8adf, #a573e2);
  }
  33% {
    background: linear-gradient(180deg, #ff8adf, #a572e2);
  }
  34% {
    background: linear-gradient(180deg, #ff8adf, #a572e2);
  }
  35% {
    background: linear-gradient(180deg, #ff8adf, #a571e2);
  }
  36% {
    background: linear-gradient(180deg, #ff89df, #a471e2);
  }
  37% {
    background: linear-gradient(180deg, #ff89de, #a471e2);
  }
  38% {
    background: linear-gradient(180deg, #ff89de, #a470e1);
  }
  39% {
    background: linear-gradient(180deg, #ff89de, #a370e1);
  }
  40% {
    background: linear-gradient(180deg, #ff88de, #a36fe1);
  }
  41% {
    background: linear-gradient(180deg, #ff88de, #a36fe1);
  }
  42% {
    background: linear-gradient(180deg, #ff88de, #a36fe1);
  }
  43% {
    background: linear-gradient(180deg, #ff88de, #a26ee1);
  }
  44% {
    background: linear-gradient(180deg, #ff87de, #a26ee1);
  }
  45% {
    background: linear-gradient(180deg, #ff87de, #a26de1);
  }
  46% {
    background: linear-gradient(180deg, #ff87de, #a26de1);
  }
  47% {
    background: linear-gradient(180deg, #ff87de, #a16ce1);
  }
  48% {
    background: linear-gradient(180deg, #ff86de, #a16ce1);
  }
  49% {
    background: linear-gradient(180deg, #ff86de, #a16ce0);
  }
  50% {
    background: linear-gradient(180deg, #ff86de, #a16be0);
  }
  51% {
    background: linear-gradient(180deg, #ff85dd, #a06be0);
  }
  52% {
    background: linear-gradient(180deg, #ff85dd, #a06ae0);
  }
  53% {
    background: linear-gradient(180deg, #ff85dd, #a06ae0);
  }
  54% {
    background: linear-gradient(180deg, #ff85dd, #9f69e0);
  }
  55% {
    background: linear-gradient(180deg, #ff84dd, #9f69e0);
  }
  56% {
    background: linear-gradient(180deg, #ff84dd, #9f69e0);
  }
  57% {
    background: linear-gradient(180deg, #ff84dd, #9f68e0);
  }
  58% {
    background: linear-gradient(180deg, #ff84dd, #9e68e0);
  }
  59% {
    background: linear-gradient(180deg, #ff83dd, #9e67e0);
  }
  60% {
    background: linear-gradient(180deg, #ff83dd, #9e67e0);
  }
  61% {
    background: linear-gradient(180deg, #ff83dd, #9e66df);
  }
  62% {
    background: linear-gradient(180deg, #ff83dd, #9d66df);
  }
  63% {
    background: linear-gradient(180deg, #ff82dd, #9d66df);
  }
  64% {
    background: linear-gradient(180deg, #ff82dd, #9d65df);
  }
  65% {
    background: linear-gradient(180deg, #ff82dc, #9c65df);
  }
  66% {
    background: linear-gradient(180deg, #ff82dc, #9c64df);
  }
  67% {
    background: linear-gradient(180deg, #ff81dc, #9c64df);
  }
  68% {
    background: linear-gradient(180deg, #ff81dc, #9c64df);
  }
  69% {
    background: linear-gradient(180deg, #ff81dc, #9b63df);
  }
  70% {
    background: linear-gradient(180deg, #ff81dc, #9b63df);
  }
  71% {
    background: linear-gradient(180deg, #ff80dc, #9b62df);
  }
  72% {
    background: linear-gradient(180deg, #ff80dc, #9b62de);
  }
  73% {
    background: linear-gradient(180deg, #ff80dc, #9a61de);
  }
  74% {
    background: linear-gradient(180deg, #ff80dc, #9a61de);
  }
  75% {
    background: linear-gradient(180deg, #ff7fdc, #9a61de);
  }
  76% {
    background: linear-gradient(180deg, #ff7fdc, #9960de);
  }
  77% {
    background: linear-gradient(180deg, #ff7fdc, #9960de);
  }
  78% {
    background: linear-gradient(180deg, #ff7fdc, #995fde);
  }
  79% {
    background: linear-gradient(180deg, #ff7edb, #995fde);
  }
  80% {
    background: linear-gradient(180deg, #ff7edb, #985ede);
  }
  81% {
    background: linear-gradient(180deg, #ff7edb, #985ede);
  }
  82% {
    background: linear-gradient(180deg, #ff7edb, #985ede);
  }
  83% {
    background: linear-gradient(180deg, #ff7ddb, #985ddd);
  }
  84% {
    background: linear-gradient(180deg, #ff7ddb, #975ddd);
  }
  85% {
    background: linear-gradient(180deg, #ff7ddb, #975cdd);
  }
  86% {
    background: linear-gradient(180deg, #ff7ddb, #975cdd);
  }
  87% {
    background: linear-gradient(180deg, #ff7cdb, #975bdd);
  }
  88% {
    background: linear-gradient(180deg, #ff7cdb, #965bdd);
  }
  89% {
    background: linear-gradient(180deg, #ff7cdb, #965bdd);
  }
  90% {
    background: linear-gradient(180deg, #ff7cdb, #965add);
  }
  91% {
    background: linear-gradient(180deg, #ff7bdb, #955add);
  }
  92% {
    background: linear-gradient(180deg, #ff7bdb, #9559dd);
  }
  93% {
    background: linear-gradient(180deg, #ff7bda, #9559dd);
  }
  94% {
    background: linear-gradient(180deg, #ff7bda, #9559dd);
  }
  95% {
    background: linear-gradient(180deg, #ff7ada, #9458dc);
  }
  96% {
    background: linear-gradient(180deg, #ff7ada, #9458dc);
  }
  97% {
    background: linear-gradient(180deg, #ff7ada, #9457dc);
  }
  98% {
    background: linear-gradient(180deg, #ff7ada, #9457dc);
  }
  99% {
    background: linear-gradient(180deg, #ff79da, #9356dc);
  }
  100% {
    background: linear-gradient(0deg, #9356dc, #ff79da);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__location input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.loaded .location input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.function__list__item__text {
  padding-right: 10px;
}

h1,
section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}

h1 {
  margin-bottom: 15px;
}
@media screen and (min-width: 860px) {
  h1 {
    font-size: 40px;
  }
}

.explorer p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.restaurants h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}
.restaurants p {
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
}

.menu__content__header h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.menu__content h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
}
.menu__content h3::after {
  content: "";
  position: relative;
  top: 8px;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-bottom: 12px;
}
.menu__content h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__content__entrees__item__box__description p, .menu__content__plats__item__box__description p, .menu__content__desserts__item__box__description p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__content__entrees__item__price, .menu__content__plats__item__price, .menu__content__desserts__item__price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0px;
}

.footer > h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}

.explorer__button,
.menu__content__button button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.loader {
  display: flex;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  z-index: 999;
  animation: hide-loader 0.5s forwards;
  animation-delay: 3s;
}
.loader__text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0%, -50%);
  font-family: "Shrikhand", sans-serif;
  font-size: 12vw;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Shrikhand", serif;
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: smokeOut 1s ease-in-out infinite alternate;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}
.loader__text:before {
  content: "Ohmyfood";
  animation-delay: 0.5s;
}

@keyframes smokeOut {
  100% {
    opacity: 0.2;
    filter: blur(5px);
    letter-spacing: 4px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65px;
}
.header__arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 24px;
}
.header__arrow i {
  color: black;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px 25px;
}
@media screen and (min-width: 860px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 100px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  color: white;
  padding: 0;
  margin-bottom: 0;
  gap: 7px;
}
@media screen and (min-width: 860px) {
  .footer__list {
    flex-direction: row;
    gap: 25px;
  }
}
.footer__list i {
  margin-right: 11px;
}
.footer__list i::before {
  display: flex;
  width: 11px;
}
.footer__list a {
  text-decoration: none;
  color: white;
}

.location {
  background: linear-gradient(#353535 -50%, #eaeaea 20%);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.location i {
  color: #353535;
}
.location input {
  border: none;
  background-color: #eaeaea;
  color: black;
  width: 115px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 35px 20px 35px 20px;
  text-align: center;
}
.explorer__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: none;
}
.explorer__button:hover {
  animation: 1s btn-hover ease-in-out forwards;
}
.explorer__button:not(:hover) {
  animation: 1s btn-hover-reverse ease-in-out forwards;
}

.function {
  background-color: white;
  padding: 35px 20px 35px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 860px) {
  .function {
    padding: 35px 10%;
  }
}
@media screen and (min-width: 860px) {
  .function #div--desktop {
    width: 100%;
  }
}
.function__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: black;
  padding: 0;
  margin-bottom: 0;
  gap: 25px;
}
@media screen and (min-width: 860px) {
  .function__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
}
.function__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 20px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 322.486px;
  height: 72.379px;
  flex-shrink: 0;
  padding-left: 0;
  margin-left: 0;
}
@media screen and (min-width: 860px) {
  .function__list__item {
    width: calc(33% - 30px);
  }
}
.function__list__item--violet i {
  color: #9356dc;
}
.function__list__item__number {
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: inherit;
  margin-left: -12.5px;
  margin-right: 10px;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 50px 15px;
}
.restaurants h2 {
  margin-bottom: 24px;
}
@media screen and (min-width: 860px) {
  .restaurants h2 {
    width: calc(100% - 60px);
    padding: 0 8%;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  gap: 25px;
}
@media screen and (min-width: 860px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
    gap: 60px;
    width: 100%;
    padding: 0 8%;
  }
}
.restaurants__cards__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 340px;
  height: 251px;
  flex-shrink: 0;
  padding-left: 0;
  margin-left: 0;
}
@media screen and (min-width: 860px) {
  .restaurants__cards__card {
    width: calc(50% - 60px);
    height: 24vw;
  }
}
.restaurants__cards__card a {
  position: relative;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}
.restaurants__cards__card__new {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 4px;
  padding: 5px 10px;
}
.restaurants__cards__card img {
  width: 100%;
  height: calc(100% - 80px);
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__cards__card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: 80px;
  width: 100%;
  padding: 0px 15px;
  position: relative;
}
.restaurants__cards__card__content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 0px 31px;
}
.restaurants__cards__card .Checkbox {
  display: none;
}
.restaurants__cards__card__icon {
  position: relative;
  left: 84%;
  bottom: 54px;
}
.restaurants__cards__card__icon .emptyheart {
  font-size: 22px;
  position: absolute;
}
.restaurants__cards__card__icon .fullheart {
  font-size: 22px;
  position: relative;
  bottom: 0.5px;
  opacity: 0;
}
.restaurants__cards__card__icon .fullheart::before {
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.restaurants__cards__card #Checkbox1:checked + .restaurants__cards__card__icon .fullheart {
  animation: 1s fill-heart ease-in-out forwards;
}
.restaurants__cards__card #Checkbox1:not(:checked) + .restaurants__cards__card__icon .fullheart {
  animation: hide-heart 1s ease-in-out forwards;
}
.restaurants__cards__card #Checkbox2:checked + .restaurants__cards__card__icon .fullheart {
  animation: 1s fill-heart ease-in-out forwards;
}
.restaurants__cards__card #Checkbox2:not(:checked) + .restaurants__cards__card__icon .fullheart {
  animation: hide-heart 1s ease-in-out forwards;
}
.restaurants__cards__card #Checkbox3:checked + .restaurants__cards__card__icon .fullheart {
  animation: 1s fill-heart ease-in-out forwards;
}
.restaurants__cards__card #Checkbox3:not(:checked) + .restaurants__cards__card__icon .fullheart {
  animation: hide-heart 1s ease-in-out forwards;
}
.restaurants__cards__card #Checkbox4:checked + .restaurants__cards__card__icon .fullheart {
  animation: 1s fill-heart ease-in-out forwards;
}
.restaurants__cards__card #Checkbox4:not(:checked) + .restaurants__cards__card__icon .fullheart {
  animation: hide-heart 1s ease-in-out forwards;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__header {
  width: 100%;
  height: 73.5vw;
  max-height: 430px;
}
@media screen and (min-width: 860px) {
  .menu__header {
    height: 30vw;
    max-height: none;
    min-height: 430px;
  }
}
.menu__header img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  top: -50px;
  background-color: #f6f6f6;
  padding: 50px 0px;
  gap: 40px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
@media screen and (min-width: 860px) {
  .menu__content {
    width: 80vw;
  }
}
.menu__content > :nth-child(2) > div:nth-of-type(1) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 0s;
}
.menu__content > :nth-child(2) > div:nth-of-type(2) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 0.6s;
}
.menu__content > :nth-child(2) > div:nth-of-type(3) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 1.2s;
}
.menu__content > :nth-child(2) > div:nth-of-type(4) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 1.8s;
}
.menu__content > :nth-child(3) > div:nth-of-type(1) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 2.4s;
}
.menu__content > :nth-child(3) > div:nth-of-type(2) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 3s;
}
.menu__content > :nth-child(3) > div:nth-of-type(3) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 3.6s;
}
.menu__content > :nth-child(3) > div:nth-of-type(4) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 4.2s;
}
.menu__content > :nth-child(4) > div:nth-of-type(1) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 4.8s;
}
.menu__content > :nth-child(4) > div:nth-of-type(2) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 5.4s;
}
.menu__content > :nth-child(4) > div:nth-of-type(3) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 6s;
}
.menu__content > :nth-child(4) > div:nth-of-type(4) {
  opacity: 0;
  animation: 1.5s appear ease-in-out forwards;
  animation-delay: 6.6s;
}
.menu__content__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  gap: 15px;
  width: 100%;
}
@media screen and (min-width: 860px) {
  .menu__content__header {
    justify-content: center;
    gap: 30px;
  }
}
.menu__content__header #Checkbox {
  display: none;
}
.menu__content__header__like .emptyheart {
  font-size: 22px;
  position: absolute;
}
.menu__content__header__like .fullheart {
  font-size: 22px;
  position: relative;
  bottom: 1px;
  opacity: 0;
}
.menu__content__header__like .fullheart::before {
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.menu__content__header #Checkbox:checked + .menu__content__header__like .fullheart {
  animation: 1s fill-heart ease-in-out forwards;
}
.menu__content__header #Checkbox:not(:checked) + .menu__content__header__like .fullheart {
  animation: hide-heart 1s ease-in-out forwards;
}
.menu__content__entrees, .menu__content__plats, .menu__content__desserts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  padding: 0px 13px;
}
.menu__content__entrees__item, .menu__content__plats__item, .menu__content__desserts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 70px;
  box-sizing: border-box;
}
.menu__content__entrees__item__box, .menu__content__plats__item__box, .menu__content__desserts__item__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  height: 70px;
  padding: 15px 15px;
}
.menu__content__entrees__item__box__description, .menu__content__plats__item__box__description, .menu__content__desserts__item__box__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 80%;
}
.menu__content__entrees__item__price, .menu__content__plats__item__price, .menu__content__desserts__item__price {
  position: relative;
  top: 35%;
}
.menu__content__entrees__item__check, .menu__content__plats__item__check, .menu__content__desserts__item__check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 100%;
  background-color: #99e2d0;
  color: white;
  z-index: 999;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  animation: 0.5s ease-in shrink forwards;
}
.menu__content__entrees__item:hover .menu__content__entrees__item__check, .menu__content__entrees__item:hover .menu__content__plats__item__check, .menu__content__entrees__item:hover .menu__content__desserts__item__check, .menu__content__plats__item:hover .menu__content__entrees__item__check, .menu__content__plats__item:hover .menu__content__plats__item__check, .menu__content__plats__item:hover .menu__content__desserts__item__check, .menu__content__desserts__item:hover .menu__content__entrees__item__check, .menu__content__desserts__item:hover .menu__content__plats__item__check, .menu__content__desserts__item:hover .menu__content__desserts__item__check {
  animation: 0.5s ease-in enlarge forwards;
}
.menu__content__button button {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: none;
}
.menu__content__button button:hover {
  animation: 1s btn-hover ease-in-out forwards;
}
.menu__content__button button:not(:hover) {
  animation: 1s btn-hover-reverse ease-in-out forwards;
}/*# sourceMappingURL=main.css.map */