$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;
$color-background-primary: white;
$color_darkgreen: #008766;
$color-lightgrey: #EAEAEA;
$color-lightergrey: #F6F6F6;

$color-darkgrey: #353535;
$color-text: black;
$color-text-white: white;
$color-button-text: white;

$font-size-big: 24px;
$font-size-medium: 18px;
$font-size-small: 16px;

$card-gap: 60px;
$card-content-height: 80px;