$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background-primary: white;
$color_darkgreen: #008766;
$color-lightgrey: #eaeaea;
$color-lightergrey: #f6f6f6;

$color-darkgrey: #353535;
$color-text: black;
$color-text-white: white;
$color-button-text: white;

$font-size-big: 24px;
$font-size-medium: 18px;
$font-size-small: 16px;

$card-gap: 60px;
$function__list--gap: 30px;
$card-content-height: 80px;
